.AppContainer {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.EB-list {
    list-style-type: none;
    list-style-position: inside;
    padding: 20px;
    border-style: dashed;
    border-color: var(--secondary-color);
    line-height: 250%;
    font-size: 120%;
}

.btn {
    vertical-align: unset;
}

.btn-dark {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: "MyWebFont", serif;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: "MyWebFont";
    src: url('Roboto-Light.ttf');
}

@font-face {
    font-family: "MyWebFontBold";
    src: url('Roboto-Bold.ttf');
}


h1, h2, h3, h4, h5, h6 {
    color: var(--font-color);
    font-family: "MyWebFontBold", serif;
}

a {
    color: var(--font-color)
}

.EB-dark-component {
    background-color: var(--font-color);
    padding: 15px;
}

.EB-content-overflow-scroll {
    overflow: scroll;
}

.EB-contact-card {
    background-color: transparent;
    border: transparent;
    border-radius: 0;
    padding: 10px;
}

.on-dark-background {
    color: #F2F2F2;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

:root {
    --primary-color: #385D84;
    --secondary-color: #E77557;
    --font-color: #23303B;
    --bg-color: #F2F2F2;
    --heading-color: #AED3F2;
}

a {
    color: #0000EE;
}

.EB-profile-pic {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.EB-item-pic {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 5px;
}

.home-container {
    padding: 20%;
}

.EB-footer {
    background-color: var(--font-color);
    color: var(--bg-color);
    font-size: 75%;
}

.wrapper {
    flex: 1;
}

.EB-scroll-list {
    max-height: 300px;
    overflow-y: scroll;
}

.EB-event-highlight-pic {
    height: 150px;
    width: 100%;
    object-fit: cover;
}

.EB-chatbox {
    background-color: white;
    width: 100%;
    height: 500px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.EB-sent-bubble {
    color: white;
    background-color: #E77557;
    border-color: #ea9f8c;
    border-style: solid;
    border-width: 1px;
    height: fit-content;
    width: fit-content;
    margin: 2px;
    margin-top: auto;
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 25px;
    padding: 10px;
    position: relative;
}

.EB-receive-bubble {
    background-color: white;
    border-color: antiquewhite;
    border-style: solid;
    border-width: 1px;
    height: fit-content;
    width: fit-content;
    margin: 2px;
    margin-top: auto;
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 25px;
    padding: 10px;
    position: relative;
}

.EB-sent-message {
    margin-left: auto;
    margin-right: 0;
}

.EB-add-circle {
    border-color: var(--secondary-color);
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    text-align: center;
    color: var(--secondary-color);
    display: block;

}